.commentsection {
  display: flex;
  flex-direction: column;
}

.commentsection .comment {
  display: flex;
}

.commentsection p {
  font-size: 10px;
}

.commentsection .commentUsername {
  font-weight: bold;
}


.commentsection form {
  display: flex;
  justify-content: space-between;
  padding: 0 6.5%;
  font-size: 36px;
  border: 1px lightgray solid;
  width: 74%;
  margin: 10px 0 10px 6.5%;
}
input {
  width: 75%;
  border: 1px solid white;
}
.commentsection form p {
  font-size: 13px;
  font-weight: bold;
}
.commentsection .comment{
  display: flex;
  padding-left: 5%;
}

.commentsection .comment p{
  margin: 5px 1.5%;
}

.timestamp {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-left: 6.5%;
  color: lightgray;
}
